<section class="container py-5">
  <div class="row align-items-center g-5">
    <!-- Columna izquierda: Texto -->
    <div class="col-md-6 hero-text">
      <h1 class="mb-4">Soluciones estratégicas para el crecimiento empresarial</h1>
      <p class="text-muted">
        Nuestras soluciones se enfocan completamente en tus necesidades y se adaptan a diferentes niveles de conocimientos, habilidades y áreas de TI.
      </p>
      <a class="btn btn-outline-primary px-4 py-2" routerLink="/courses">Nuestros cursos</a>
      <!-- Estadísticas -->
      
      <div class="row mt-5 stats">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 mb-3">
          <span>40+</span><br><small class="text-muted">Años de experiencia</small>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 mb-3">
          <span>300+</span><br><small class="text-muted">Expertos en TI</small>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 mb-3">
          <span>20+</span><br><small class="text-muted">Project Managers para orientación</small>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 mb-3">
          <span>40+</span><br><small class="text-muted">Consultores en entrenamiento TI</small>
        </div>
      </div>
    </div>
    <!-- Columna derecha:      -->
    <div class="col-md-6 hero-img text-center" id="slider">
        <img [src]="images[currentIndex()]"> 
    </div>
  </div>
</section>
