.cardtitle{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 50px;
    padding: 50px;
}

.cardbody{
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    overflow: auto;
    padding-bottom: 20px;
    justify-content: center; 
    align-items: center; 
}
.fullscreen-card {
  flex: 1;
  display: flex;
  justify-content: center; 
  height: 90%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  
}

.card {
  max-width: 400px;
  margin-bottom: 8px;
  color: black;
  width: 400px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.cardtitle{
  color: black;
}

table {
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color:#0e0d0d;
}

th, td {
  padding: 1px 16px;
  text-align: left;
}

th {
  color: black ;
  font-size: 20px;
  border-bottom: 2px solid black;
}

mat-icon{
  border: none;              
  cursor: pointer;       
  background-color: transparent;    
  opacity: 1;
}

.btn-outline-primary {
    border-width: 2px;
    background-color: white;
    width: 150px;
    height: 43px;
    text-align: center;
    font-weight: bold;
}

.navbar-nav .nav-link.active {
    border-bottom: 2px solid #0d6efd;
    border-radius: 40px;
}
nav{
  border-radius: 20px;
}

button{
  background-color: white;
  width: 35px;
  height: 35px;
  margin-right: 8px;
}