<mat-card class="fullscreen-card">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
        <a class="navbar-brand fw-bold" routerLink="/" id="netec">Agregar nuevo curso</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                    
                </li>
            </ul>
        </div>
    </nav>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Curso</mat-label>
                <input matInput placeholder="Ingrese el nombre del curso" formControlName="name">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Descripción</mat-label>
                <input matInput placeholder="Ingrese la descripción del curso" formControlName="description">
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Duración en horas</mat-label>
                <input matInput placeholder="Ingrese la duracion en horas del curso" formControlName="duration">

            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nivel</mat-label>
                <mat-select formControlName="level" placeholder="Seleccione el nivel del curso">
                    <mat-option value="Básico">Básico</mat-option>
                    <mat-option value="Medio">Medio</mat-option>
                    <mat-option value="Avanzado">Avanzado</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Precio</mat-label>
                <input matInput placeholder="Ingrese el valor del curso" formControlName="price">
            </mat-form-field>

            <!-- <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Guardar</button> -->
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
                {{ editing ? 'Actualizar' : 'Guardar' }}
            </button>
        </form>
    </mat-card-content>
</mat-card>